{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>CSCI 220 Algorithmic Trading Platform</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .search-section {
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("{% static 'img/stockimg.jpeg' %}") no-repeat center center;
            background-size: cover;
            height: 100vh; /* Adjust as needed */
        }
        /* Additional inline styles can go here */
    </style>
</head>
<body class="loading">
    <div class="navbar">
        <div class="flex items-center">
            <p class ="font-medium">CSCI 220 Algorithmic Trading Platform</p>
        </div>
    </div>

    <section class="search-section">
        <div class="container mx-auto flex px-5 py-24 items-center">
        <div class="container mx-auto flex px-5 py-24 items-center">
            <div class="lg:flex-grow md:w-1/2 flex flex-col md:items-start md:text-left mb-16 items-center text-center">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium">Welcome to the Algorithmic Trading Simulator</h1>
                <p class="mb-8 leading-relaxed">Search for real-time stock information</p>
                <form action="{% url 'search_stock' %}" method="get" class="flex justify-center">
                    <input type="text" name="ticker" class="search-text" placeholder="Enter Stock Ticker..." list="tickerList" id="search">
                    <datalist id="tickerList"></datalist>
                    <button type="submit" class="search-button">Search</button>
                </form>
            </div>
        </div>
    </section>
<footer class="bg-black">
    <div class="container mx-auto py-6 px-4">
        <p class="text-gray-400 text-center text-sm">SADI Algorithmic Trading Â© 2024</p>
    </div>
</footer>
<script src="{% static 'js/autocomplete.js' %}"></script>
</body>
</html>